@charset "utf-8";
/* CSS Document */
*{margin:0; padding:0; font-size:14px; color:#323232; list-style:none; font-family:Verdana, Geneva, sans-serif,"宋体";}
a{color:#266392; text-decoration:none;}
a:hover{text-decoration:underline;}
h2{line-height:28px; border-bottom:1px solid #cce6f5; margin-bottom:10px;}
h2 span{float:right;}
h2 span a{font-size:12px; font-weight:normal;}

#wrap{width:910px;margin:0 auto;}
#header,#mainbody{width:100%;overflow:hidden;margin-bottom:10px;}

.logo{width:100%;margin-top:5px;overflow:hidden;}
.logo h1{background:url(../images/logo.gif) no-repeat;float:left;width:218px;height:63px;text-indent:-9000px;}
.logo dl{float:right;margin-top:10px;}
.logo dt{font-weight:bold;color:#5a5a5a;line-height:26px;}
.logo dd{font-size:12px;line-height:24px;color:#828282;}

#nav{width:100%;background:url(../images/navbg.gif) no-repeat;height:36px;overflow:hidden;margin-top:8px;}
#nav ul{width:94%;overflow:hidden;margin:0 auto;}
#nav li{float:left;font-weight:bold;line-height:34px;list-style:none;margin:0 20px;font-size:14px;}
#nav li a{color:#fff;}
#nav li a:hover{text-decoration:none;}
#nav li.current{background:url(../images/home.gif) 0 4px no-repeat;width:88px;text-align:center;}
#nav li.current a{color:#000;}
#nav li.qq_lab{float:right;background:url(../images/arrow_r.gif) 0 8px no-repeat;padding-left:25px;}

#mainbody{margin-top:10px;border:2px solid red;}

.content{float:left;width:600px;}
.box{width:100%;margin-bottom:10px;}

.siderbar{width:280px;float:right;}


.softwarelist{width:100%;}
.softwarelist li{margin:20px 0;width:100%;overflow:hidden;}
.softwarelist dl{float:left;padding-left:40px}
.softwarelist dt a{text-decoration:underline;font-size:14px;font-weight:bold;}
.softwarelist span a{text-decoration:underline;font-size:12px;}
.softwarelist span{float:right;}
.softwarelist_1{background:url(../images/icon_1.gif) no-repeat;}
.softwarelist_2{background:url(../images/icon_2.gif) no-repeat;}
.softwarelist_3{background:url(../images/icon_3.gif) no-repeat;}
.softwarelist_4{background:url(../images/icon_4.gif) no-repeat;}
.softwarelist_5{background:url(../images/icon_5.gif) no-repeat;}
.softwarelist_6{background:url(../images/icon_6.gif) no-repeat;}
.download{background:url(../images/downicon.gif) 0 3px no-repeat;padding-left:14px}



